.imgpr {
  position: relative;
  width: 100%;
  max-height: 300px; /* ou ajustable selon besoin */
  overflow: hidden;
}

.imgpr img {
  display: block;
  width: 100%;
  height: auto; /* Permet à l'image de rétrécir naturellement selon sa taille réelle */
  max-height: 300px;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  letter-spacing: 2px;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}
