<div class="navbar">
    <div class="navbar-logo">
      <img src="/assets/logopr.jpg" alt="zemni logo" />
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">Acceuil</a>
        <a class="navbar-item" routerLink="/apropos">A propos</a>
        <a class="navbar-item">Histoire</a>
      </div>
      <nav class="navbar">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
          placeholder="Rechercher..."
          class="search-input"
        />
      </nav>
      
      <div class="navbar-end">
        <a href="https://www.facebook.com" target="_blank" class="navbar-item">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="navbar-item">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:example@email.com" class="navbar-item">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="navbar-item">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div class="admin-icon" (click)="toggleAdminMode()">
        <i class="fa fa-user-shield"></i> <!-- ou une autre icône admin -->
      </div>
    </div>
  </div>
  