<div class="carte">
  <img [src]="image" alt="Image de la carte" class="carte-image" />
  <div class="carte-content">
    <h3>{{ titre }}</h3>
    <p>{{ description }}</p>
    <p><strong>Adresse:</strong> {{ adresse }}</p>
  </div>
</div>
----------------------
carte acceuil(fatma)
/* <img [src]="image" [alt]="title" />

<div class="card-body">
  <h3>{{ title }}</h3>
  <h4>{{ subtitle }}</h4>

  <p class="card-description">
    <!-- Version réduite -->
    <ng-container *ngIf="!isExpanded">
      {{ description | slice:0:maxChars }}
      <span class="ellipsis" (click)="toggleExpand()">...</span>
    </ng-container>

    <!-- Version étendue -->
    <ng-container *ngIf="isExpanded">
      {{ description }}
      <span class="ellipsis" (click)="toggleExpand()"> <!-- on reclique sur "..." -->
        <!-- vous pouvez changer le texte ici si vous voulez indiquer "moins" -->
        ...
      </span>
    </ng-container>
  </p>

  <!-- Bouton Explorer inchangé -->
  <button class="explore-button">Explorer</button>
</div>
*/ 
