<div class="supprimer-endroit-container">
  <div class="form-box">
    <button class="close-btn" (click)="fermer()">&times;</button>
    <img src="assets/logopr.jpg" alt="Zemni Logo" class="logo" />

    <h2>Supprimer une carte</h2>
    
    <form (ngSubmit)="supprimerCarte()">
      <div class="form-group">
        <label for="categorie">Catégorie :</label>
        <select id="categorie" [(ngModel)]="categorie" name="categorie" required>
          <option value="gastronomie">Gastronomie</option>
          <option value="vetements">Vêtements</option>
          <option value="restauration">Restauration</option>
          <option value="patrimoine">Patrimoine</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nom">Nom de la carte :</label>
        <input type="text" id="nom" [(ngModel)]="nom" name="nom" required />
      </div>

      <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>

    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
