<main >
  <!-- Barre de navigation -->
  <app-navbar *ngIf="!isAdminPage && !isRecherchePage"
              (adminModeChanged)="toggleAdminMode()" 
              (searchEvent)="filtrerCartesGlobale($event)">
  </app-navbar>

  <!-- Image principale -->
  <app-imgpr *ngIf="!isAdminPage && !isRecherchePage" 
             [imageSrc]="imgData.imageSrc" 
             [text]="imgData.text">
  </app-imgpr>

  <!-- Actions Admin visibles uniquement si adminMode est activé et ce n'est pas une page admin ni la page de recherche -->
  <div *ngIf="adminMode && !isAdminPage && !isRecherchePage" class="admin-actions-global">
    <button (click)="ajouter()" title="Ajouter">
      <i class="fas fa-plus"></i> 
    </button>
    <button (click)="modifier()" title="Modifier">
      <i class="fas fa-edit"></i> 
    </button>
    <button (click)="supprimer()" title="Supprimer">
      <i class="fas fa-trash-alt"></i> 
    </button>
  </div>

  <!-- Bouton de changement de catégorie -->
  <button *ngIf="!isAdminPage && !isRecherchePage" 
          (click)="toggleCategory()" 
          class="switch-category-btn">
    Restauration
  </button>

  <!-- Composant Router Outlet pour afficher le contenu dynamique -->
  <router-outlet></router-outlet>
</main>

<!-- ✅ Footer visible uniquement si ce n’est pas une page admin ni la page recherche -->
<div class="footer" *ngIf="!isAdminPage && !isRecherchePage">
  <div *ngIf="!isRestaurationActive">
    <div class="patrimoine-container">
      <a routerLink="/patrimoine1" routerLinkActive="active" class="arrow">1</a>
      <a routerLink="/patrimoine2" routerLinkActive="active" class="arrow">2</a>
      <a routerLink="/patrimoine3" routerLinkActive="active" class="arrow">3</a>
    </div>
  </div>

  <div *ngIf="isRestaurationActive">
    <div class="restauration-container">
      <a routerLink="/restoration1" routerLinkActive="active" class="arrow">1</a>
      <a routerLink="/restoration2" routerLinkActive="active" class="arrow">2</a>
      <a routerLink="/restoration3" routerLinkActive="active" class="arrow">3</a>
    </div>
  </div>
</div>
