<app-navbar
      *ngIf="!isAdminPage && !isRecherchePage"
      >
    </app-navbar>
<app-imgpr 
*ngIf="!isAdminPage && !isRecherchePage "
[imageSrc]="imgData.imageSrc"
[text]="imgData.text" >
</app-imgpr>
<div class="carte-container">
<div *ngFor="let carte of cartes" class="carte">
<img [src]="carte.imageurl" [alt]="carte.nom" />
<div class="carte-content">
  <h3>{{ carte.nom }}</h3>
  <p>{{ carte.description }}</p>
  <p>
    <strong>Prix :</strong>
    <span>{{ carte.prix }}</span>
  </p>
  <p>
    <strong>Adresse:</strong>
    <a [href]="'https://www.google.com/maps?q=' + carte.adresse" target="_blank" rel="noopener noreferrer">
      {{ carte.adresse }}
    </a>
  </p>
</div>
</div>
</div>
