<div class="ajout-endroit-container">
  <div class="form-box">
    <button class="close-btn" (click)="onCancel()">&times;</button>
    <img src="assets/logopr.jpg" alt="Zemni Logo" class="logo" />

    <!-- Message d'erreur -->
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <h2>Ajouter un {{ getNomLabel() }}</h2>
    <p class="subtext">Veuillez introduire des données valides!</p>

    <!-- Formulaire d'ajout -->
    <form (ngSubmit)="ajouterCarte()">
      <label for="categorie">Catégorie</label>
      <select id="categorie" [(ngModel)]="categorie" name="categorie" required>
        <option value="" disabled selected>-- Choisir une catégorie --</option>
        <option value="gastronomie">Gastronomie</option>
        <option value="vetement">Vêtement</option>
        <option value="restauration">Restauration</option>
        <option value="patrimoine">Patrimoine</option>
      </select>

      <label for="id">ID de {{ getNomLabel() }}</label>
      <input
        id="id"
        type="text"
        [(ngModel)]="carte.id"
        name="id"
        placeholder="Veuillez entrer un id unique"
        required
      />

      <label for="titre">Nom de {{ getNomLabel() }}</label>
      <input
        id="titre"
        type="text"
        [(ngModel)]="carte.titre"
        name="titre"
        required
      />

      <label for="description">Description</label>
      <input
        id="description"
        type="text"
        [(ngModel)]="carte.description"
        name="description"
        required
      />

      <label for="adresse">Adresse</label>
      <input
        id="adresse"
        type="text"
        [(ngModel)]="carte.adresse"
        name="adresse"
        placeholder="Rue, ville, etc."
        required
      />

      <label for="imageUrl">URL de l'image</label>
      <input
        id="imageUrl"
        type="text"
        [(ngModel)]="carte.imageUrl"
        name="imageUrl"
        placeholder="http://www.domain.com/image.jpg"
        required
      />

      <!-- Champ intervallePrix affiché uniquement si nécessaire -->
      <div *ngIf="shouldShowIntervallePrix()">
        <label for="intervallePrix">Intervalle de prix</label>
        <input
          type="text"
          id="intervallePrix"
          [(ngModel)]="carte.intervallePrix"
          name="intervallePrix"
          placeholder="exemple : 15DT - 30DT"
          required
        />
      </div>

      <div class="button-group">
        <button type="button" class="cancel-btn" (click)="onCancel()">
          <i class="fas fa-times-circle"></i> Annuler
        </button>
        <button type="submit" class="add-btn">
          <i class="fas fa-plus-circle"></i> Ajouter
        </button>
      </div>
      
    </form>
  </div>
</div>
