<div class="app-wrapper">

    <!-- Navbar affichée uniquement hors admin & recherche -->
    <app-navbar
      *ngIf="!isAdminPage && !isRecherchePage"
      (adminModeChanged)="toggleAdminMode()">
    </app-navbar>
  
    <!-- Image principale uniquement hors admin & recherche -->
    <app-imgpr
      *ngIf="!isAdminPage && !isRecherchePage && isHomePage"
      [imageSrc]="imgData.imageSrc"
      [text]="imgData.text">
    </app-imgpr>
  
    <!-- Zone de rendu des routes dynamiques -->
  
    <!-- Cartes visibles uniquement sur la page d'accueil -->
    <div class="cartes-container" *ngIf="isHomePage ">
      <app-carte-acc
        *ngFor="let carte of cartes"
        [image]="carte.image"
        [titre]="carte.titre"
        [description]="carte.description">
      </app-carte-acc>
    </div>
  
    <!-- Actions admin globales uniquement en mode admin, hors page admin/recherche -->
    <div
      *ngIf="adminMode && !isAdminPage && !isRecherchePage"
      class="admin-actions-global">
      
      <button (click)="ajouter()" title="Ajouter">
        <i class="fas fa-plus"></i>
      </button>
  
      <button (click)="modifier()" title="Modifier">
        <i class="fas fa-edit"></i>
      </button>
  
      <button (click)="supprimer()" title="Supprimer">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>